# Parquet Baisc

[CN]

在大数据领域, 列式存储格式是用来存储大量数据并提供高性能查询的行业标准. 其中有两种数据格式非常流行 [Apache ORC](https://orc.apache.org/) [Apache Parquet](https://parquet.apache.org/). 其中 Parquet 要更流行一些. [Apache Arrow](https://arrow.apache.org/docs/index.html) 则是一个 in-memory analytics 的数据分析平台, 能把对这些流行的数据格式的 IO, transform 等操作整合起来的一个项目.

在 Python 社区主流的用于数据分析的库是 [Pandas](https://pandas.pydata.org/). **PyArrow** 则是用 Python 操作 Apache Arrow 的一套 API, 同时可以用这套 API 操作 Parquet / ORC 数据格式. 并且提供了一套和 pandas 交互的接口.

在小数据领域 pandas 基本已经够用了, 而在大数据领域, 学习 pyarrow 则是非常有必要的.

---

[EN]


Ref:

- https://arrow.apache.org/docs/python/parquet.html

In [1]:
%pip install rich
%pip install smart_open
%pip install s3pathlib
%pip install pathlib_mate
%pip install pandas
%pip install pyarrow
%pip install mpire

Requirement already satisfied: rich in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (12.0.0)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from rich) (0.9.1)
Requirement already satisfied: typing-extensions<5.0,>=3.7.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from rich) (4.0.1)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from rich) (2.8.0)
Requirement already satisfied: dataclasses<0.9,>=0.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from rich) (0.8)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: smart_open in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (5.2.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: s3pathlib in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.0.5)
Requirement already satisfied: pathlib-mate>=1.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from s3pathlib) (1.0.2)
Requirement already satisfied: atomicwrites in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pathlib-mate>=1.0.1->s3pathlib) (1.4.0)
Requirement already satisfied: autopep8 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pathlib-mate>=1.0.1->s3pathlib) (1.5.5)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pathlib-mate>=1.0.1->s3pathlib) (1.15.0)
Requirement already satisfied: pycodestyle>=2.6.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from autopep8->pathlib-mate>=1.0.1->s3pathlib) (2.6.0)
Requirement already satisfied: toml in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from autopep8->pathlib-mate>=1.0.1->s3pathlib) (0.10.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pathlib_mate in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.0.2)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pathlib_mate) (1.15.0)
Requirement already satisfied: autopep8 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pathlib_mate) (1.5.5)
Requirement already satisfied: atomicwrites in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pathlib_mate) (1.4.0)
Requirement already satisfied: toml in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from autopep8->pathlib_mate) (0.10.2)
Requirement already satisfied: pycodestyle>=2.6.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from autopep8->pathlib_mate) (2.6.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.15.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pyarrow in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyarrow) (1.19.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mpire in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (2.3.3)
Requirement already satisfied: dataclasses in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from mpire) (0.8)
Requirement already satisfied: tqdm in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from mpire) (4.62.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# inspect how many CPU on this machine
import os

print(f"Number of CPU = {os.cpu_count()}")

Number of CPU = 16

In [3]:
import random
import string
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from rich import print as rprint
from s3pathlib import S3Path
from pathlib_mate import Path

dir_here = Path.cwd()

In [4]:
def rnd_str(length=8):
    """
    Generate random length string.
    """
    return "".join([random.choice(string.ascii_lowercase) for _ in range(length)])

rnd_str(8)

'slamczyj'

## ``pyarrow.Table`` vs ``pandas.DataFrame``

在 PyArrow 中核心的 API 是 ``pyarrow.Table``. 类似于 ``pandas.DataFrame``, 是一个二维数据表结构. 但是 ``pyarrow.Table`` 的 API 没有 ``pandas.DataFrame`` 灵活. 实际操作中经常会用 ``pandas.DataFrame`` 操作数据, 然后在写入文件前转化为 ``pyarrow.Table``.

其中两个核心的 API 是:

- ``pyarrow.Table.from_pandas(df)``
- ``pyarrow.Table.to_pandas()``

In [5]:
# 创建一个 Pandas DataFarme
n_rows = 1000
df = pd.DataFrame()
df["id"] = range(1, n_rows+1)
df["name"] = [rnd_str(8) for _ in range(n_rows)]
df.head(3)

   id      name
0   1  rctczyjd
1   2  gzdelpep
2   3  pqagwgsx

In [6]:
# 将 pandas.DataFrame 转化为 pyarrow.Table
# Ref: https://arrow.apache.org/docs/python/pandas.html
table = pa.Table.from_pandas(df)

In [7]:
# 查看 Data Schema
# method1. use Table.schema
print("--- method 1 ---")
print(table.schema)

# method2. read schema from pandas DataFrame
print("--- method 2 ---")
schema = pa.Schema.from_pandas(df)
print(schema)

--- method 1 ---
id: int64
name: string
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 470
--- method 2 ---
id: int64
name: string
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 470

## Parquet File 读写

In [17]:
# 将 pyarrow.Table 写入磁盘
# Ref: https://arrow.apache.org/docs/python/generated/pyarrow.parquet.write_table.html
pq.write_table(table, Path(dir_here, "users.parquet").abspath)

In [18]:
# 从 磁盘读取 pyarrow.Table 数据
# Ref: https://arrow.apache.org/docs/python/generated/pyarrow.parquet.read_table.html
table = pq.read_table(Path(dir_here, "users.parquet").abspath)
df = table.to_pandas()
df.head(3)

   id      name
0   1  rctczyjd
1   2  gzdelpep
2   3  pqagwgsx

In [19]:
# 将 pyarrow.Table 写入磁盘, 不过用的是 file object API
# Ref: https://arrow.apache.org/docs/python/generated/pyarrow.parquet.write_table.html
p = Path(dir_here, "users.parquet")
with p.open("wb") as f:
    pq.write_table(table, f)

In [20]:
# 从 磁盘读取 pyarrow.Table 数据, 不过用的是 file object API
# Ref: https://arrow.apache.org/docs/python/generated/pyarrow.parquet.read_table.html
with p.open("rb") as f:
    table = pq.read_table(f)
df = table.to_pandas()
df.head(3)

   id      name
0   1  rctczyjd
1   2  gzdelpep
2   3  pqagwgsx

In [24]:
# 使用 pyarrow.parquet.ParquetFile API 读取数据, 这个 API 能提供更精细的 metadata access. 
# 但是这个 API 无法用于 write Data
p_file = pq.ParquetFile(p.abspath)
p_file.read().to_pandas().head(3)

   id      name
0   1  rctczyjd
1   2  gzdelpep
2   3  pqagwgsx

## Dictionary Encoding 字典编码

``字典编码`` 就是将所有可能的值的总数不多的列用数字编码. 比如不超过 256 个可能值就可以用一个 8 位整数对其编码, 原始值很可能是字符串, 这样能大大节约存储空间.

``use_dictionary`` 参数能控制是否自动使用字典编码, 还是只对指定的列使用. ``pyarrow`` 默认使用 dict encode, 如果不使用, 最后的文件会大一些. 特别注意的是, 被 dict encode 后的列只能用于 等于 和 不等于 的比较, 而无法利用该列的最大最小信息进行 range query 的优化.

Ref:

- [pyarrow.parquet.write_table](https://arrow.apache.org/docs/python/generated/pyarrow.parquet.write_table.html)

In [13]:
p = Path(dir_here, "events1.parquet")
with p.open("wb") as f:
    pq.write_table(
        pa.Table.from_pandas(df), 
        f,
        use_dictionary=True, # default is True 
    )
print(f"{p.basename} file size = {p.size_in_text}")

p = Path(dir_here, "events2.parquet")
with p.open("wb") as f:
    pq.write_table(
        pa.Table.from_pandas(df), 
        f,
        use_dictionary=False,
    )
print(f"{p.basename} file size = {p.size_in_text}")

events1.parquet file size = 11.31 MB
events2.parquet file size = 13.63 MB

### Row Group 行组

Row Group 是把一个 Table 分拆成很多小的 "Table", 这些小的 "Table" 就是 Row Group. 每个 Row Group 有 metadata 和 statistics, 记录了每个 Column 的 max / min. 这样扫描数据的时候可以利用这些统计信息, 从而跳过很多 Row Group. 但是这样做的代价就是如果 Row Group 太多, metadata 也会太多, 写入速度也会变慢, 读取整块数据的速度也会变慢.

In [14]:
print(f"一共有 {df.shape[0]} 行")
# row group 越多, 占用磁盘越多, 但是扫描起来越有可能跳过不必要的数据块. row group 的数量最终需要取比较平衡的值.
p = Path(dir_here, "events1.parquet")
row_group_size = 1000
n_row_groups = int(df.shape[0] / row_group_size)
with p.open("wb") as f:
    pq.write_table(
        pa.Table.from_pandas(df), 
        f,
        row_group_size=row_group_size,
    )
print(f"一共有 {n_row_groups} 个 row group, {p.basename} file size = {p.size_in_text}")

p = Path(dir_here, "events2.parquet")
row_group_size = 1000000
n_row_groups = int(df.shape[0] / row_group_size)
with p.open("wb") as f:
    pq.write_table(
        pa.Table.from_pandas(df), 
        f,
        row_group_size=row_group_size,
    )
print(f"一共有 {n_row_groups} 个 row group, {p.basename} file size = {p.size_in_text}")

一共有 1000000 行
一共有 1000 个 row group, events1.parquet file size = 14.75 MB
一共有 1 个 row group, events2.parquet file size = 11.31 MB

In [15]:
import os
print(os.cpu_count())

16

In [16]:
p = Path(dir_here, "events.parquet")
with p.open("wb") as f:
    pq.write_table(
        pa.Table.from_pandas(df), 
        f,
        row_group_size=1000,
    )

# columns: ["event_id", "event_type", "time", "value"]
pq_file = pq.ParquetFile(p.abspath)
for ith_row_group in range(pq_file.metadata.num_row_groups):
    rg_meta = pq_file.metadata.row_group(ith_row_group)
    print(rg_meta.column(2).statistics)
    rg = pq_file.read_row_group(ith_row_group)
    print(rg)
    print(rg_meta.column(0))
    print(rg_meta.column(0).statistics.min)
    break

<pyarrow._parquet.Statistics object at 0x7f7b69bced18>
  has_min_max: True
  min: 2000-01-01 00:00:00
  max: 2000-01-01 00:44:35.723000
  null_count: 0
  distinct_count: 0
  num_values: 1000
  physical_type: INT64
  logical_type: Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false)
  converted_type (legacy): NONE
pyarrow.Table
event_id: int64
event_type: string
time: timestamp[us]
value: int64
----
event_id: [[1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000]]
event_type: [["event_type_2","event_type_1","event_type_3","event_type_2","event_type_2","event_type_1","event_type_3","event_type_3","event_type_1","event_type_1",...,"event_type_2","event_type_2","event_type_3","event_type_3","event_type_1","event_type_2","event_type_1","event_type_3","event_type_2","event_type_1"]]
time: [[2000-01-01 00:00:00.000000,2000-01-01 00:00:02.678000,2000-01-01 00:00:05.356000,2000-01-01 00:00:08.035000,2000-01-01 00:00:10.713000,2000-01-01 00:00:13.392000,2000-01-01 00:00:16.070000,2000-01-01 00:00:18.748000,2000-01-01 00:00:21.427000,2000-01-01 00:00:24.105000,...,2000-01-01 00:44:11.617000,2000-01-01 00:44:14.296000,2000-01-01 00:44:16.974000,2000-01-01 00:44:19.652000,2000-01-01 00:44:22.331000,2000-01-01 00:44:25.009000,2000-01-01 00:44:27.688000,2000-01-01 00:44:30.366000,2000-01-01 00:44:33.044000,2000-01-01 00:44:35.723000]]
value: [[43,89,58,94,5,64,86,49,98,74,...,85,92,95,20,99,98,54,85,97,55]]
<pyarrow._parquet.ColumnChunkMetaData object at 0x7f7b69bcec78>
  file_offset: 5364
  file_path:
  physical_type: INT64
  num_values: 1000
  path_in_schema: event_id
  is_stats_set: True
  statistics:
    <pyarrow._parquet.Statistics object at 0x7f7b69bce958>
      has_min_max: True
      min: 1
      max: 1000
      null_count: 0
      distinct_count: 0
      num_values: 1000
      physical_type: INT64
      logical_type: None
      converted_type (legacy): NONE
  compression: SNAPPY
  encodings: ('PLAIN_DICTIONARY', 'PLAIN', 'RLE')
  has_dictionary_page: True
  dictionary_page_offset: 4
  data_page_offset: 4035
  total_compressed_size: 5360
  total_uncompressed_size: 9341
1